body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 28px;
  color: white;
}

h2 {
  font-size: 24px;
  color: white
}

.App{
  background-color: #2eb1ab;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container{
  text-align: center;
}

.register-form{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.login-container{
  text-align: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.form-row{
  display: flex;
  gap: 15px;
  width: inherit;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.form-input{
  width: 60%;
  height: 55px;
  text-indent: 15px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
  outline: none;
}

.form-icon{
  color: #2ebdb9;
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: white;
  border-radius: 100%;
}

.form-btn{
  color: #2ebdb9;
  font-size: 20px;
  filter: drop-shadow(5px 7px 4px #328a87);
  text-indent: 0px;
}

.form-btn:hover{
  background-color: #018278;
  color: white;
}

.form-footer{
  color: #018278;
}

.custom-toast{
  height: 125px;
  width: 275px;
}

.logout-btn{
  margin-left: auto;
  width: 10%;
  height: 80%;
  font-size: 20px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid black;
}

.logout-btn:hover{
  background-color: #2eb1ab;
  color: white;
}

.chat-container{
  width: 60%;
  height: 600px;
  background-color: rgb(255, 255, 255);
}

.chat-navbar{
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  font-size: 26px;
  border-bottom: 1px solid black;
}

.chat-header{
  margin-left: auto;
  
}

.chat-main{
  width: 100%;
  height: 525px;
  display: flex;
}

.messages-container{
  width: 100%;
  height: 100%;
}

.message-area{
  display: flex;
  flex-direction: column;
}

.messages{
  overflow: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: 100%;
  height: 425px;
}

.message{
  width: 30%;
}

.message-form{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input{
  width: 30%;
  height: 50px;
}

.message-btn{
  width: 10%;
  height: 56px;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.friends-container{
  width: 30%;
  overflow: scroll;
}

.friend-container{
  width: 100%;
  height: 10%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friend-info{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.selected{
  color: #018278;
}

.sent{
  color: red;
  margin-left: 55%;
}

.recieved{
  color: blue;
  margin-left: 15%;
}